</div>


<!-- ______________________________ Bootstrap JS ______________________________  -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js">
</script>

<!-- ______________________________ CK EDITOR ______________________________ -->
<script src="//cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>

<script src="/script.js"></script>
</body>

</html>