<!-- _______________________ Import header _______________________-->
<%- include ('_layouts/header') %>



<p><%- content %></p>



















<!-- _______________________ Import Footer _______________________-->
<%- include('_layouts/footer') %>