.add-pages-error {
    display: flex;
    padding: 20px;
    background: #f2dede;
    border: 1px solid #ebccd1;
    vertical-align: center;
    color: #a94442;
}

.add-pages-success {
    display: flex;
    padding: 20px;
    background: #dff0d8;
    border: 1px solid #d6e9c6;
    vertical-align: center;
    color: #3c763d;
}

.add-pages-success ul,
.add-pages-error ul {
    margin: 0;
}

.img-preview {
    max-width: 300px;
    max-height: 300px;
    padding-top: 25px;
}

.product-img {
    width: 150px;
}

.img-link {
    display: block;
    height: 200px;
}

.product-box {
    margin-top: 40px;
    margin-bottom: 30px;
}

/* Dropzone */
#dropzone {
    border: 2px grey dashed;
}